.title
  %h2
    Hotel Information
%h3
  Hilton Atlanta NorthEast
%p
  June 8, 2012 - June 11, 2012
%b
  To book your reservation:
%br
%p
  Call (770) 447-4747
%p
  Group Booking code: HNW
  %br
  Group Name: Hill-Neitzer
%p
  Reservations must be made by May 18, 2012
