.title
  %h2
    The Wedding
%h3
  Flint Hill
#imgContainer.pull-left
  =image_tag "flint-hill.png"
.wedding-info
  %p
    We will be getting married at the Historic Flint Hill House in Norcross Georgia.
  %h3
    Attire
  %p
    Please don't sweat it! Wear your Sunday best and you'll certainly be welcome! Just remember that (weather permitting) we plan to be out of doors and on your feet quite a bit!
  %h3
    Shuttle
  %p
    We will have an open bar after the ceremony. Therefore, we have arranged a shuttle for guests staying at the Hotel.
%div{style: "clear: both;"}
