.title
  %h2
    The Wedding
%h3
  Flint Hill
#imgContainer.pull-left
  =image_tag "flint-hill.png"
.wedding-info
  %p
    We will be getting married at the Historic Flint Hill House in Norcross Georgia.
%div{style: "clear: both;"}
