.pull-right.location
  %h3
    Directions to Flint Hill
  %address
    539 South Peachtree Street
    %br
    Norcross, Georgia
  %h3
    From I-85
  %p
    Take I-85 North, outside of I-285 Exit Jimmy Carter Blvd (Exit 99), turn LEFT, continue past the intersection of Buford Highway (US 23). The next light is South Peachtree Street. Turn RIGHT, Flint Hill is 1⁄4 mile on RIGHT.
  %h3
    From I-285
  %p
    Take I-285 Exit Peachtree Industrial 141 North (Exit 31B). Continue for 4 miles and veer to the RIGHT onto Holcomb Bridge Rd. Go 1.1 miles to the stop sign. Go straight and cross over the railroad tracks and turn RIGHT onto South Peachtree St. Go about 1⁄4 of a mile and South Peachtree Street will veer to the RIGHT. The entrance to Flint Hill is less than 1⁄8 of a mile on the LEFT.
#imgContainer.pull-left
  =image_tag "flint-hill.png"
%div{style: "clear: both"}
