// Place all the styles related to the at_home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.at_home {
  text-align: center;
  padding: 20px 0;

  p {
    font-weight: bold;
  }
}
