.title
  %h2
    Registry
%h3{style: "text-align: center;"}
  The happy couple is registered at the following retailers
#registry
  .nojump.pull-left
    %a{href: "http://www.crateandbarrel.com/Gift-Registry/Guest/View-Registry.aspx?grid=4809131", "target" => "_BLANK"}
      =image_tag "crate.gif"
  .nojump.pull-right
    %a{href: "http://www1.macys.com/registry/wedding/guest/?registryId=632122", "target" => "_BLANK"}
      =image_tag "macys.jpg"
%div{style: "clear: both;"}
